@model List<TopSellingBookVM>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="m-0 font-weight-bold"><i class="bi bi-graph-up me-2"></i>Top Selling Books</h6>
            </div>
            <div class="card-body p-0">
                <div class="table-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Category</th>
                                <th>Copies Sold</th>
                                <th>Revenue</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var book in Model)
                            {
                                <tr>
                                    <td>@book.Title</td>
                                    <td>@book.Author</td>
                                    <td><span class="badge bg-primary">@book.Genre</span></td>
                                    <td>@book.CopiesSold</td>
                                    <td>@book.Revenue.ToString("C")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>